/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.gray-bg, .bg-muted {
  background: $secondary-bg-color;
}

.border-bottom {
  border-color: $border-color;
}

.navbar-static-top {
  .navbar-header {
    display: inline-block;
  }

  .breadcrumb {
    background: transparent;
    display: inline-block;
    margin: 19px 0 0 10px;

    & > li {
      font-weight: 100;

      & + li:before {
        display: none;
      }

      .icon {
        margin: 0 10px;
      }

      a {
        color: $dark-blue;
        font-weight: 500;
      }
    }
  }
}

.nav.navbar-right .back-to-site {
  border: none !important;
  color: $dark-blue !important;

  &:hover {
    background: initial !important;
    border: none !important;
    color: #8aa6bb !important;
  }
}

.nav.navbar-right > li > a {
  color: $dark-blue !important;
}

.page-heading {
  padding: 20px 10px 0 10px;

  h2 {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 5px;
    margin-top: 0;

    .fa {
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
  }

  .title-action {
    display: inline-block;
    padding: 0;
    text-align: left;

    .btn-primary {
      background: $btn-edit-create-bg;
      border-color: $btn-edit-create-bg;
      box-shadow: 0px 0px 0px 1px $btn-edit-create-shadow;
      color: $btn-edit-create-color;

      &:hover {
        background: $btn-edit-create-bg-hover;
        color: $btn-edit-create-color;
      }
    }
  }
}

.nav > li.active.with-icon > a {

}

.btn-view, .btn-edit, .btn-delete, .btn-products {
  padding: 5px 10px;
}

.btn-view {
  background: $btn-view-bg;
  border-color: $btn-view-bg;
  box-shadow: 0px 0px 0px 1px $btn-view-shadow;
  color: $btn-view-color;

  &:hover {
    background: $btn-view-bg-hover;
    color: $btn-view-color;
  }
}

.btn-products,
.btn-products:visited {
  background: $btn-products-bg;
  border-color: $btn-products-bg;
  box-shadow: 0px 0px 0px 1px $btn-products-shadow;
  color: $btn-products-color;

  &:hover {
    background: $btn-products-bg-hover;
    border-color: $btn-products-bg-hover;
    color: $btn-products-color;
  }
}

.btn-edit {
  background: $btn-edit-create-bg;
  border-color: $btn-edit-create-bg;
  box-shadow: 0px 0px 0px 1px $btn-edit-create-shadow;
  color: $btn-edit-create-color;

  &:hover {
    background: $btn-edit-create-bg-hover;
    color: $btn-edit-create-color;
  }
}

.btn-delete {
  background: $btn-delete-bg;
  border-color: $btn-delete-bg;
  box-shadow: 0px 0px 0px 1px $btn-delete-shadow;
  color: $btn-delete-color;

  &:hover {
    background: $btn-delete-bg-hover;
    color: $btn-delete-color;
  }
}

.shadowed {
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .05), 0 0 1px 0 rgba(0, 0, 0, .1);
  border-color: #fff;
}

//Uploader
.upload-wrapper {

  label {
    display: block;
  }

  .du_hover_layer, .inputs,
  [data-cancel="off"] {
    display: none;
  }

  .previews {
    margin-left: -5px;

    .file-wrapper {
      display: inline-block;
      max-width: 100px;
      width: 100px;
      margin: 10px 5px;


      .thumbnail, img {
        background: $secondary-bg-color;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 100px;
        vertical-align: top;
        width: 100px;
        text-align: center;
        margin: 0;
        display: block;
      }

      img {
        object-fit: cover;
      }

      .thumbnail {
        .pe-7s-file {
          font-size: 90px;
        }

        i.fa {
          font-size: 70px;
          margin-top: 10px;
        }
      }

      [data-delete]:hover {
        background-image: url(/vendor/dashboard/images/delete.png);
        background-repeat: no-repeat;
        cursor: pointer;
        height: 0;
        padding: 49px 49px;
        width: 0;
      }

      .file-preview {
        &[data-delete]:hover {
          background-position: center;

          i.fa {
            font-size: .1px;
            margin-top: 0;
          }
        }
      }
    }

    &:not(.with-filenames) {
      .file-wrapper {
        .title {
          display: none;
        }
      }
    }

    &.with-filenames {
      .file-wrapper {
        height: 118px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}


#uploadModal, [data-apply="off"] {
  display: none;
}

#uploadModal {
  .drop_uploader.drop_zone {
    background: $secondary-bg-color;
    border: 2px dashed #ddd;
    padding: 20px;

    .text,
    .text_wrapper i {
      color: #aaa;
    }

    .text .button {
      background: #2D9CDB;
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 25px;

      &:hover {
        background: #56CCF2;
      }
    }

    ul.files.thumb {
      li {
        div.thumbnail {
          i.fa {
            position: relative;
            top: calc(50% - 35px);
            color: $text-color;
            display: block;
            font-size: 70px;
          }
        }
      }
    }
  }
}


.panel-heading {
  position: relative;
  display: flex;
  align-content: center;
  font-size: 16px;
  padding: 14px 40px 14px 16px;
}

.panel-heading:hover {
  background-color: #ccc;
}

.panel-heading .panel-arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.panel-heading[aria-expanded="true"] .panel-arrow {
  top: 51%;
  transform: translateY(-50%) rotate(180deg);
}

.panel-heading .panel-title {
  margin-top: 0;
}